table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: dimgrey;
  color: rgb(255, 217, 0);
}

th, td {
  text-align: left;
  padding: 8px;
}



h1 {
  text-align: center;
  width: 100%;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
