<table>
  <thead>
  <tr>
    <th scope="col">Nr</th>
    <th scope="col">Hour</th>
    <th scope="col">Monday</th>
    <th scope="col">Tuesday</th>
    <th scope="col">Wednesday</th>
    <th scope="col">Thursday</th>
    <th scope="col">Friday</th>
  </tr>
  </thead>

  <tbody>
  <!-- First row (1)-->
  <tr>
    <td class="nr-to-white">
      1
    </td>
    <td>
      8:00-8:45
    </td>
    <td>
      {{lessons[0].name}}
<!--      {{monday[0].name}}-->
<!--      {{monday[0].teacherName}}-->
<!--      {{monday[0].classroomNumber}}-->
<!--      {{lessons[1].name}}-->
<!--      {{lessons.stream-->
<!--      .filter( l -> l.dayOfWeek == "MONDAY")-->
<!--      .filter(l -> l.sequence == 1)-->
<!--      .map()}}-->
    </td>
    <td>

    </td>
    <td>
<!--      <a class="lesson-link" routerLink="/addlesson">{{ lessons[2].name }}</a><br>-->
<!--      {{ lessons[2].teacherName }}<br>-->
<!--      {{ lessons[2].classroomNumber }}<br>-->
    </td>
    <td>

    </td>
    <td>

    </td>
  </tr>
  <!-- Second row (2)-->
  <tr>
    <td class="nr-to-white">
      2
    </td>
    <td>
      8:50-9:35
    </td>
    <td>
      <!--    {{ lessons[5].name }}<br>-->
      <!--    {{ lessons[5].teacherName }}<br>-->
      <!--    {{ lessons[5].classroomNumber }}<br>-->
    </td>
    <td>
      <!--    {{ lessons[6].name }}<br>-->
      <!--    {{ lessons[6].teacherName }}<br>-->
      <!--    {{ lessons[6].classroomNumber }}<br>-->
    </td>
    <td>
      <!--    {{ lessons[7].name }}<br>-->
      <!--    {{ lessons[7].teacherName }}<br>-->
      <!--    {{ lessons[7].classroomNumber }}<br>-->
    </td>
    <td>

    </td>
    <td>

    </td>
  </tr>
  <tr>
    <td class="nr-to-white">
      3
    </td>
    <td>
      9:40-10:25
    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
  </tr>
  <tr>
    <td class="nr-to-white">
      4
    </td>
    <td>
      10:40-11:25
    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
  </tr>
  <tr>
    <td class="nr-to-white">
      5
    </td>
    <td>
      11:30-12:15
    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
  </tr>
  <tr>
    <td class="nr-to-white">
      6
    </td>
    <td>
      12:20-13:05
    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
  </tr>
  <tr>
    <td class="nr-to-white">
      7
    </td>
    <td>
      13:10-14:55
    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
  </tr>
  <tr>
    <td class="nr-to-white">
      8
    </td>
    <td>
      15:00-15:45
    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
  </tr>
  <tr>
    <td class="nr-to-white">
      9
    </td>
    <td>
      15:35-16:20
    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
  </tr>
  </tbody>
</table>



