<table>
  <thead>
  <tr>
    <th scope="col">Nr</th>
    <th scope="col">Hour</th>
    <th scope="col">Monday</th>
    <th scope="col">Tuesday</th>
    <th scope="col">Wednesday</th>
    <th scope="col">Thursday</th>
    <th scope="col">Friday</th>
  </tr>
  </thead>
  <tbody>

<!-- First row (1)-->
  <tr>
    <td>
      1
    </td>
    <td>
     8:00-8:30
    </td>
    <td>
      {{ lessons[0].name }}<br>
      {{ lessons[0].teacherName }}<br>
      {{ lessons[0].classroomNumber }}<br>
    </td>
    <td>
      {{ lessons[1].name }}<br>
      {{ lessons[1].teacherName }}<br>
      {{ lessons[1].classroomNumber }}<br>
    </td>
    <td>
      {{ lessons[2].name }}<br>
      {{ lessons[2].teacherName }}<br>
      {{ lessons[2].classroomNumber }}<br>
    </td>
    <td>
      {{ lessons[3].name }}<br>
      {{ lessons[3].teacherName }}<br>
      {{ lessons[3].classroomNumber }}<br>
    </td>
    <td>
      {{ lessons[4].name }}<br>
      {{ lessons[4].teacherName }}<br>
      {{ lessons[4].classroomNumber }}<br>
    </td>
  </tr>
  <!-- Second row (2)-->
  <tr>
  <td>
    2
  </td>
  <td>
    9:00-10:30
  </td>
  <td>
    {{ lessons[0].name }}<br>
    {{ lessons[0].teacherName }}<br>
    {{ lessons[0].classroomNumber }}<br>
  </td>
  <td>
    {{ lessons[1].name }}<br>
    {{ lessons[1].teacherName }}<br>
    {{ lessons[1].classroomNumber }}<br>
  </td>
  <td>
    {{ lessons[2].name }}<br>
    {{ lessons[2].teacherName }}<br>
    {{ lessons[2].classroomNumber }}<br>
  </td>
  <td>
    {{ lessons[3].name }}<br>
    {{ lessons[3].teacherName }}<br>
    {{ lessons[3].classroomNumber }}<br>
  </td>
  <td>
    {{ lessons[4].name }}<br>
    {{ lessons[4].teacherName }}<br>
    {{ lessons[4].classroomNumber }}<br>
  </td>
  </tr>
  </tbody>
</table>
