<div class="container">
  <header>
    <h1>
      Timetable&reg;
    </h1>
<!--    <img src="../assets/img/logo.png" alt="logo">-->
  </header>
  <div class="content">
    <div class="main-content">
      <section>
        <router-outlet></router-outlet>
      </section>
    </div>

    <div class="sidebar">
      <aside>
<!--        <h3>Groups</h3>-->
<!--        <ng-container *ngFor="let class of classes">-->
<!--          <a class="group&class-link" routerLink="/timetable">{{class.}}</a>-->
<!--        </ng-container>-->
        <h3>Groups</h3>
        <a class="group&class-link" routerLink="/timetable">1A</a>
        <a class="group&class-link" routerLink="/timetable">1B</a>
        <a class="group&class-link" routerLink="/timetable">1C</a>
        <a class="group&class-link" routerLink="/timetable">1D</a>
        <a class="group&class-link" routerLink="/timetable">2A</a>
        <a class="group&class-link" routerLink="/timetable">2B</a>
        <a class="group&class-link" routerLink="/timetable">2C</a>
        <a class="group&class-link" routerLink="/timetable">2D</a>
        <a class="group&class-link" routerLink="/timetable">3A</a>
        <a class="group&class-link" routerLink="/timetable">3B</a>
        <a class="group&class-link" routerLink="/timetable">3C</a>
        <a class="group&class-link" routerLink="/timetable">3D</a>
        <a class="group&class-link" routerLink="/timetable">4A</a>
        <a class="group&class-link" routerLink="/timetable">4B</a>
        <a class="group&class-link" routerLink="/timetable">4C</a>
        <a class="group&class-link" routerLink="/timetable">4D</a>
        <h3>Teachers</h3>
        <a class="teacher-link" routerLink="/timetable">A.Kulakowski</a>
        <a class="teacher-link" routerLink="/timetable">M.Plaza</a>
        <a class="teacher-link" routerLink="/timetable">A.Lenarcik</a>
        <a class="teacher-link" routerLink="/timetable">S.Deniziak</a>
        <a class="teacher-link" routerLink="/timetable">M.Wiśniewski</a>
        <a class="teacher-link" routerLink="/timetable">P.Sitek</a>
        <a class="teacher-link" routerLink="/timetable">A.Krechowicz</a>
        <a class="teacher-link" routerLink="/timetable">K.Wieczorek</a>
        <a class="teacher-link" routerLink="/timetable">K.Poczęta</a>
        <a class="teacher-link" routerLink="/timetable">M.Gorzalczany</a>
        <h3>Classrooms</h3>
        <a class="group&class-link" routerLink="/timetable">100</a>
        <a class="group&class-link" routerLink="/timetable">101</a>
        <a class="group&class-link" routerLink="/timetable">102</a>
        <a class="group&class-link" routerLink="/timetable">103</a>
        <a class="group&class-link" routerLink="/timetable">104</a>
        <a class="group&class-link" routerLink="/timetable">105</a>
        <a class="group&class-link" routerLink="/timetable">201</a>
        <a class="group&class-link" routerLink="/timetable">202</a>
        <a class="group&class-link" routerLink="/timetable">203</a>
        <a class="group&class-link" routerLink="/timetable">204</a>
        <a class="group&class-link" routerLink="/timetable">205</a>
        <a class="group&class-link" routerLink="/timetable">301</a>
        <h3>For admin</h3>
        <a class="teacher-link" routerLink="/addlesson">Add lesson</a>
<!--        <ul style="list-style: none">-->

<!--          <li><a routerLink="/timetable">1A</a></li>-->
<!--          <li><a routerLink="/addlesson">Add lesson</a></li>-->

<!--        </ul>-->
      </aside>
    </div>
  </div>
  <footer>
    All rights reserved &copy;
  </footer>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <div class="card bg-dark my-5">-->
<!--        <div class="card-body">-->
<!--          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>-->
<!--          <ul class="text-center list-inline py-3">-->
<!--            <li class="list-inline-item"><a routerLink="/users" class="btn btn-info">List Users</a></li>-->
<!--            <li class="list-inline-item"><a routerLink="/adduser" class="btn btn-info">Add User</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
