<div class="container">
  <header>
    <h1>
      <u>
        Timetable&reg;
      </u>
    </h1>
  </header>
  <div class="content">

    <div class="main-content">
      <section>
        <router-outlet></router-outlet>
      </section>
    </div>

    <div class="sidebar">
      <aside>
        <h3>Groups</h3>
        <ng-container *ngFor="let class of classes">
          <a (click)="toTimetableByClassName(class.name)" class="group&class-link">{{class.name}}</a>
        </ng-container>
        <h3>Teachers</h3>
        <ng-container *ngFor="let teacher of teachers">
          <a (click)="toTimetableByTeacherName(teacher.name, teacher.surname)" class="teacher-link" >{{teacher.name + " " + teacher.surname | teacherName}}</a>
        </ng-container>
        <h3>Classrooms</h3>
        <ng-container *ngFor="let classroom of classrooms">
          <a (click)="toTimetableByClassroomName(classroom.name)" class="group&class-link">{{classroom.name}}</a>
        </ng-container>
        <h3>For admin</h3>
        <a *ngIf="!authService.isUserLoggedIn()" class="teacher-link" routerLink="/login">Log in</a>
        <a *ngIf="authService.isUserLoggedIn()" class="teacher-link" routerLink="/logout">Log out</a>
        <a *ngIf="authService.isUserLoggedIn()" class="teacher-link" routerLink="/addlesson">Add lesson</a>
        <a *ngIf="authService.isUserLoggedIn()" class="teacher-link" routerLink="/addteacher">Add teacher</a>
        <a *ngIf="authService.isUserLoggedIn()" class="teacher-link" routerLink="/delteacher">Del teacher</a>
        <a *ngIf="authService.isUserLoggedIn()" class="teacher-link" routerLink="/addclassroom">Add classroom</a>
        <a *ngIf="authService.isUserLoggedIn()" class="teacher-link" routerLink="/addclass">Add class</a>
      </aside>
    </div>
  </div>
</div>
  <footer>
    All rights reserved &copy;
  </footer>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <div class="card bg-dark my-5">-->
<!--        <div class="card-body">-->
<!--          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>-->
<!--          <ul class="text-center list-inline py-3">-->
<!--            <li class="list-inline-item"><a routerLink="/users" class="btn btn-info">List Users</a></li>-->
<!--            <li class="list-inline-item"><a routerLink="/adduser" class="btn btn-info">Add User</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
