<!--<table>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th scope="col">Nr</th>-->
<!--    <th scope="col">Hour</th>-->
<!--    <th scope="col">Monday</th>-->
<!--    <th scope="col">Tuesday</th>-->
<!--    <th scope="col">Wednesday</th>-->
<!--    <th scope="col">Thursday</th>-->
<!--    <th scope="col">Friday</th>-->
<!--  </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--  &lt;!&ndash; First row (1)&ndash;&gt;-->
<!--  <tr>-->
<!--    <td class="nr-to-white">-->
<!--      1-->
<!--    </td>-->
<!--    <td>-->
<!--      8:00-8:30-->
<!--    </td>-->
<!--    <td>-->
<!--      <ng-container *ngFor="let lesson of monday">-->
<!--        <ng-container *ngIf="lesson.sequence == 1">-->
<!--          {{lesson.name}}<br>-->
<!--          {{lesson.teacherName}}<br>-->
<!--          {{lesson.classroomNumber}}<br>-->
<!--        </ng-container>-->
<!--      </ng-container>-->
<!--&lt;!&ndash;      <ng-container *ngIf="monday">&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[0].name}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[0].teacherName | teacherName}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[0].classroomNumber}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-container>&ndash;&gt;-->


<!--&lt;!&ndash;  jakby tak sprawdzac dayOfWeek i sequence kazdej lekcji i na podstawie tego-->
<!--      wypisywac te ktore pasuje do danej komorki-->
<!--&ndash;&gt;-->
<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--  </tr>-->
<!--  &lt;!&ndash; Second row (2)&ndash;&gt;-->
<!--  <tr>-->
<!--    <td class="nr-to-white">-->
<!--      2-->
<!--    </td>-->
<!--    <td>-->
<!--      9:00-10:30-->
<!--    </td>-->
<!--    <td>-->
<!--&lt;!&ndash;      <ng-container *ngIf="monday">&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[1].name}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[1].teacherName | teacherName}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[1].classroomNumber}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-container>&ndash;&gt;-->
<!--    </td>-->
<!--    <td>-->
<!--      &lt;!&ndash;    {{ lessons[6].name }}<br>&ndash;&gt;-->
<!--      &lt;!&ndash;    {{ lessons[6].teacherName }}<br>&ndash;&gt;-->
<!--      &lt;!&ndash;    {{ lessons[6].classroomNumber }}<br>&ndash;&gt;-->
<!--    </td>-->
<!--    <td>-->
<!--      &lt;!&ndash;    {{ lessons[7].name }}<br>&ndash;&gt;-->
<!--      &lt;!&ndash;    {{ lessons[7].teacherName }}<br>&ndash;&gt;-->
<!--      &lt;!&ndash;    {{ lessons[7].classroomNumber }}<br>&ndash;&gt;-->
<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td class="nr-to-white">-->
<!--      3-->
<!--    </td>-->
<!--    <td>-->
<!--      9:50-10:35-->
<!--    </td>-->
<!--    <td>-->
<!--&lt;!&ndash;      <ng-container *ngIf="monday">&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[2].name}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[2].teacherName | teacherName}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[2].classroomNumber}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-container>&ndash;&gt;-->
<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td class="nr-to-white">-->
<!--      4-->
<!--    </td>-->
<!--    <td>-->
<!--      10:50-11:35-->
<!--    </td>-->
<!--    <td>-->
<!--&lt;!&ndash;      <ng-container *ngIf="monday">&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[3].name}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[3].teacherName | teacherName}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[3].classroomNumber}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-container>&ndash;&gt;-->
<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td class="nr-to-white">-->
<!--      5-->
<!--    </td>-->
<!--    <td>-->
<!--      11:45-12:30-->
<!--    </td>-->
<!--    <td>-->
<!--&lt;!&ndash;      <ng-container *ngIf="monday">&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[4].name}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[4].teacherName | teacherName}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[4].classroomNumber}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-container>&ndash;&gt;-->
<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td class="nr-to-white">-->
<!--      6-->
<!--    </td>-->
<!--    <td>-->
<!--      12:40-13:25-->
<!--    </td>-->
<!--    <td>-->
<!--&lt;!&ndash;      <ng-container *ngIf="monday">&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[5].name}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[5].teacherName | teacherName}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[5].classroomNumber}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-container>&ndash;&gt;-->
<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td class="nr-to-white">-->
<!--      7-->
<!--    </td>-->
<!--    <td>-->
<!--      13:35-14:20-->
<!--    </td>-->
<!--    <td>-->
<!--&lt;!&ndash;      <ng-container *ngIf="monday">&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[6].name}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[6].teacherName | teacherName}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[6].classroomNumber}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-container>&ndash;&gt;-->
<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td class="nr-to-white">-->
<!--      8-->
<!--    </td>-->
<!--    <td>-->
<!--      14:40-15:25-->
<!--    </td>-->
<!--    <td>-->
<!--&lt;!&ndash;      <ng-container *ngIf="monday">&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[7].name}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[7].teacherName | teacherName}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[7].classroomNumber}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-container>&ndash;&gt;-->
<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td class="nr-to-white">-->
<!--      9-->
<!--    </td>-->
<!--    <td>-->
<!--      15:35-16:20-->
<!--    </td>-->
<!--    <td>-->
<!--&lt;!&ndash;      <ng-container *ngIf="monday">&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[8].name}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[8].teacherName | teacherName}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;        {{monday[8].classroomNumber}}<br>&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-container>&ndash;&gt;-->
<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--    <td>-->

<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->


